* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(240, 21, 21);
  background-image: linear-gradient(to right, #aa1c7b,#831234,#610c61,#e77415,#fda605, rgb(250, 190, 78));
}

button {
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}